        <!-- Books Grid Section -->
        <section class="page-section bg-light" id="books">
            <div class="container overflow-hidden">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">EBooks</h2>
                    <h3 class="section-subheading text-muted">Freely downloadable versions of my books.</h3>
                </div>
                <div class="row gy-5">
                    {% for book in site.books %}
                    <div class="col-lg-3 col-sm-4 col-6 mb-4 gx-5">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#portfolioModal{{ book.name }}" href="#portfolioModal{{ book.name }}">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-info-circle fa-3x"></i></div>
                                </div>
                                <img class="img-fluid d-block mx-auto" src="assets/books/{{ book.thumbnail }}" alt="{{book.title}}" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">{{ book.title }}</div>
                                <div class="portfolio-caption-subheading text-muted">{{ book.subtitle }}</div>
                                <div class="portfolio-caption-subheading text-muted"><a href="/assets/books/{{book.asset}}">Download</a></div>
                            </div>
                        </div>
                    </div>{% endfor %}
                </div>
            </div>
        </section>
