 <!-- Books Modal -->
 {% for book in site.books %}
        <div class="modal" id="bookModal{{ book.name }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable"> <!-- modal-fullscreen modal-dialog-scrollable -->
                <div class="modal-content">
                    <div class="modal-header">
                        <strong class="modal-title">{{ book.title }}</strong> &nbsp; <span class="item-intro text-muted">{{ book.subtitle }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Project Details Go Here-->
                        <!-- <h2 class="text-uppercase">{{ book.title }}</h2> -->
                        <!-- <p class="item-intro text-muted">{{ book.subtitle }}</p> -->
                        <a href="/assets/books/{{book.asset}}"><img class="img-fluid d-block mx-auto" src="/assets/books/{{ book.image }}" alt="{{ book.title }} (click to download)" /></a>
                        <p>{{ book.description }}</p>
                        <ul class="list-inline">
                            <li>Date: {{ book.release-date }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        {% if book.asset %}
                        <a class="btn btn-primary" href="/assets/books/{{book.asset}}" role="button">Download {{ book.category }}</a>
                        {% else %}
                        Coming Soon
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
