<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="page-top">

    {% include header.html %}
    {% include books_grid.html %}
    {% include videos_grid.html %}
    {% include about.html %}
    {% comment %}
        {% include team.html %}
        {% include clients.html %}
        {% include contact.html %}
    {% endcomment %}
    {% include footer.html %}
    {% include book_modals.html %}
    {% include video_modals.html %}
    {% include js.html %}
    </body>
</html>